@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="padding:2%">
    <div class="card shadow">
        <div class="card-header text-light" style="background-color: #00377C">
            <h4>Personas</h4>
        </div>
        <div class="card-body">

            <div id="cargando" class="text-center text-primary">
                <div class="spinner-border" style="width: 5rem; height: 5rem; margin:2%" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <h5 class="d-flex justify-content-center">Cargando...</h5>
            </div>
            <div class="table-responsive mt-2 mb-2" id="contenido">
                <small>Se visualiza un detalle de la lista de personas</small>
                <table id="tPersona" class="table table-striped table-bordered display" style="width:100%"></table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalPersona" tabindex="-1">
    <form id="FrmPersona" name="FrmPersona">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light">

                    <h5 class="modal-title" id="Titulo"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white"></button>
                </div>
                <div class="modal-body">
                    <div class="row align-items-start">
                        <div class="col mb-3">
                            <input type="hidden" id="IdPersona" name="Id" class="form-control" />
                            <label for="inputNombre" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" id="Nombre" name="Nombre" placeholder="Introduzca el nombre" aria-describedby="Nombre">
                        </div>
                        <div class="col mb-3">
                            <label for="inputPaterno" class="form-label">Paterno:</label>
                            <input type="text" class="form-control" id="Paterno" name="Paterno" placeholder="Introduzca el apellido paterno" aria-describedby="Paterno">
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col mb-3">
                            <label for="inputMaterno" class="form-label">Materno:</label>
                            <input type="text" class="form-control" id="Materno" name="Materno" placeholder="Introduzca el apellido materno" aria-describedby="Materno">
                        </div>
                        <div class="col mb-3">
                            <label for="InputDocumento" class="form-label">Documento:</label>
                            <input type="text" class="form-control" id="Documento" name="Documento" placeholder="Introduzca el documento" aria-describedby="Documento">
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col mb-3">
                            <label for="InputDocumento" class="form-label">Fecha Nacimiento:</label>
                            <input type="date" class="form-control" id="FechaNac" name="FechaNac" aria-describedby="FechaNac">
                        </div>
                        <div class="col mb-3">
                            <label for="Departamento" class="form-label">Departamento:</label>
                            <select class="form-select" id="Departamento" name="IdDepartamento" required>
                            </select>
                            <div class="invalid-feedback">¡Campo Vacio!</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
                    <button type="button" class="btn btn-outline-primary" onclick="Save()"><i class="far fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="ModalUsuario" tabindex="-1">
    <form id="FrmUsuario" name="FrmUsuario">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-primary text-light">
                    <h5 class="modal-title">Agregar Usuario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input type="hidden" id="IdUsuario" name="Id" class="form-control" />
                        <label for="inputNombreusu" class="form-label">Usuario:</label>
                        <input type="text" class="form-control" id="Nomusu" name="Nomusu" placeholder="Introduzca el usuario" aria-describedby="Nombreusu">
                    </div>
                    <div class="mb-3">
                        <label for="inputContraseña" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Introduzca la contraseña" aria-describedby="Password">
                    </div>
                    <div class="mb-3">
                        <label for="inputContraseña" class="form-label">Tipo de Usuario:</label>
                        <select class="form-select" id="Tipo" name="IdTtipo" aria-label="Default select example">
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
                    <button type="button" class="btn btn-outline-primary" onclick="SaveUser()"><i class="far fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="ModalCargo" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary text-light">
                <h5 class="modal-title">Agregar Cargo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="color:white"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="inputContraseña" class="form-label">Cargos:</label>
                    <select class="form-select" id="Cargo" name="Idcargo" aria-label="Default select example">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"><i class="fas fa-ban"></i> Cancelar</button>
                <button type="button" class="btn btn-outline-primary" onclick="SaveRole()"><i class="far fa-check-circle"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<script>

    tabla = $("#tPersona").DataTable({
        columns: [
            { title: "Nro", width: '2%' },
            { title: "Documento", width: '11%' },
            { title: "Nombre", width: '26%' },
            { title: "Paterno", width: '15%' },
            { title: "Materno", width: '15%' },
            { title: "Departamento", width: '21%' },
            { title: "<button  class='form-control btn btn-primary' id='BtnAgregar' onclick='PersonAdd()' data-bs-toggle='modal' data-bs-target='#ModalPersona'>Nuevo <i class='fa fa-plus-circle' aria-hidden='true'></i></button>", width: '10%' }
        ]
    });
    $("#cargando").show();
    $("#contenido").hide();
    $(document).ready(function () {
        $.getJSON('@Url.Action("GetAll","Tipo")', function (o) {
            $("#Tipo").html("");
            var option = "<option value='0' selected>Seleccione una opción</option>";
            $("#Tipo").append(option);
            for (var i = 0; i < o.length; i++) {
                option = "<option value=" + o[i].Id + " >" + o[i].Nombre + "</option>";
                $("#Tipo").append(option);
            }
        });
        $.getJSON('@Url.Action("GetAll","Cargo")', function (o) {
            $("#Cargo").html("");
            var option = "<option value='0' selected>Seleccione una opción</option>";
            $("#Cargo").append(option);
            for (var i = 0; i < o.length; i++) {
                option = "<option value=" + o[i].Id + " >" + o[i].Nombre + "</option>";
                $("#Cargo").append(option);
            }
        });
        GetDepartaments();
        setTimeout(function () {
            $("#cargando").hide();
            $("#contenido").show();
            UpdateTable();
        }, 1000);
    });
    function UpdateTable()
    {
        $.post('@Url.Action("Get","Persona")', function (o) {
            tabla.destroy();
            dataset = o;
            tabla = $("#tPersona").DataTable({
                data: dataset,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                columns: [{ width: '2%' }, { width: '11%' }, { width: '26%' }, { width: '15%' }, { width: '15%' }, { width: '21%' }, { orderable: false,width: '10%' }]
            });
        });
    }

    function GetDepartaments() {
        $.getJSON('@Url.Action("GetAll","Departamento")', function (o) {
            $("#Departamento").html("");
            var option = `<option selected disabled value="-1">Seleccione una opción...</option>`;
            $("#Departamento").append(option);
            for (var i = 0; i < o.length; i++) {
                option = "<option value=" + o[i].Id + " >" + o[i].Nombre + "</option>";
                $("#Departamento").append(option);
            }
        });
    }

    function PersonAdd() {
        $("#Titulo").html("Nueva Persona");
        $("#FrmPersona")[0].reset();
        $("#IdPersona").val(0);
        GetDepartaments();
    }
    function Save() {
        var o = $("#FrmPersona").serialize();
        $.post('@Url.Action("Save","Persona")', o, function (s)
        {
            switch (s.tipo) {
                case 1:
                    Toast(s.msj, 'success');
                    $("#ModalPersona").modal('hide');
                    UpdateTable();
                    break;
                case 2:
                    Toast(s.msj, 'success');
                    $("#ModalPersona").modal('hide');
                    UpdateTable();
                    break;
                case 3:
                    Toast(s.msj, 'danger');
                    break;
                default:
                    Toast(s.msj, 'warning');
                    break;
            }
        })
    }

    function Edit(id) {
        $("#Titulo").html("Editar Persona");
        $.getJSON('@Url.Action("GetId","Persona")', { Id: id }, function (o) {
            $("#IdPersona").val(o.Id);
            $("#Documento").val(o.Documento);
            $("#Nombre").val(o.Nombre);
            $("#Paterno").val(o.Paterno);
            $("#Materno").val(o.Materno);
            $("#Departamento").val(o.IdDepartamento);
            console.log("Val:"+$("#Departamento").val());
            console.log(o.IdDepartamento);
            //document.getElementsByName("IdDepartamento").value = ""+o.IdDepartamento;
            //$("#Departamento option[value='"+o.IdDepartamento+"']").attr("selected", true);
            if (o.FechaNac != null) {
                //var fecha = o.FechaNac.split("/");
                //fecha = fecha[2] + "-" + fecha[1] + "-" + fecha[0];
                $("#FechaNac").val(o.FechaNac);
            }
        });
    }

    function Delete(id) {
        $("#TextoEliminar").html("¿Realmente desea eliminar a esta persona? Este proceso no se puede deshacer.")
        $("#IdPersona").val(id);
    }

    function ConfirmDelete() {
        $.post('@Url.Action("Delete","Persona")', { Id: $("#IdPersona").val() }, function (s)
        {
            switch (s.tipo) {
                case 1:
                    Toast(s.msj, 'success');
                    $("#ModalEliminar").modal('hide');
                    UpdateTable();
                    break;
                case 2:
                    Toast(s.msj, 'success');
                    $("#ModalEliminar").modal('hide');
                    UpdateTable();
                    break;
                case 3:
                    Toast(s.msj, 'danger');

                    break;
                default:
                    Toast(s.msj, 'warning');
                    $("#ModalEliminar").modal('hide');
                    break;
            }
        })
    }

    function UserAdd(id)
    {
        $("#IdUsuario").val(id);
        $("#FrmUsuario")[0].reset();
    }

    function SaveUser() {
        var o = $("#FrmUsuario").serialize();
        $.post('@Url.Action("Save","Usuario")', o, function (s)
        {
            switch (s.tipo) {
                case 1:
                    Toast(s.msj, 'success');
                    $("#ModalUsuario").modal('hide');
                    UpdateTable();
                    break;
                case 2:
                    Toast(s.msj, 'success');
                    $("#ModalUsuario").modal('hide');
                    UpdateTable();
                    break;
                case 3:
                    Toast(s.msj, 'error');
                    break;
                default:
                    Toast(s.msj, 'warning');
                    break;
            }
        })
    }

    function RoleAdd(id) {
        $("#IdPersona").val(id);
        $("#Cargo").val(0)
    }

    function SaveRole() {
        var o = { Id: $("#IdPersona").val(), Idcargo: $("#Cargo").val() };
        $.post('@Url.Action("SaveRole", "Cargo")', o , function (s)
        {
            switch (s.tipo) {
                case 1:
                    Toast(s.msj, 'success');
                    $("#ModalCargo").modal('hide');
                    UpdateTable();
                    break;
                case 2:
                    Toast(s.msj, 'success');
                    $("#ModalCargo").modal('hide');
                    UpdateTable();
                    break;
                case 3:
                    Toast(s.msj, 'danger');
                    break;
                default:
                    Toast(s.msj, 'warning');
                    break;
            }
        })
    }

</script>